body {
    padding-top: 120px;
}

h1 {
    font-size: 40px;
}

header {
    min-height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#sony-header {
    height: 40px;
}

.lens-search {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 650px;
}

._btn-radius {
    border-radius: 20px;
}

#new-games {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
}

#new-games-gallery {
    background-color: #1F1F1F;
}

#new-games-gallery p {
    font-size: 18px;
}

#ps4-explore p {
    font-size: 20px;
}

#ps4-explore,#special-offers h2 {
    font-size: 36px;
}

#special-offers p {
    font-size: 20px;
}

#ps-plus {
    background-color: #BEBCBB;
}

#ps-plus .btn {
    background-color: #D9DADC;
}

#ps-now {
    background-color: #161C3B;
}

footer {
    background-color: #00439C;
}

footer ul {
    list-style-type: none;
}

footer ul a {
    text-decoration: none;
    color: white;
}

.ps-footer {
    width: 100px;
}

.sony-footer {
    width: 150px;
}